<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<<<<<<< HEAD
  
=======
  <h1>Poll voting Site</h1>
>>>>>>> cf54e05e84fd988f2dd356a22b685da494b76e01
</body>
</html>