<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%- include _header %>
  <h1 style="text-align: center;">Poll voting Site</h1>

</body>
<script src="js/client.js"></script>
</html>